<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=searchedListing.title%>
    </title>
    <link rel="stylesheet" href="/css/detail.css">
</head>

<body>
    <%- include("../layouts/navbar.ejs") %>
        <h2 id="detail-heading">
            <%= searchedListing.title%>
                <br>
                <br>
        </h2>

        <!-- <p>
       
    </p> -->

        <div id="detail-picture-div">
            <img id="detail-picture" src="<%=searchedListing.image.url%>">
        </div>


        <p id="detail-price">
            Price: <b>₹<%= searchedListing.price.toLocaleString("en-IN")%> / night</b>
            <br>
            <!--Listing Id = <%= searchedListing._id%> <br> -->

            Location: <b>
                <%= searchedListing.location%>
            </b>
            <br>

            Country: <b>
                <%= searchedListing.country%>
            </b>
            <br>

        </p>

        <br>

        <div id="detail-buttons">
            <form method="get" action="/listings/<%=searchedListing._id%>/edit">
                <button id="detail-edit-button">Edit</button>
            </form>


            <form method="post" action="/listings/<%= searchedListing._id%>/delete?_method=DELETE">
                <button id="detail-delete-button">Delete</button>
            </form>
        </div>



        <%- include("../layouts/footer.ejs") %>
</body>

</html>